---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Malper di çêkirinê de ye</h1>
			<p>
				Ji bo zanyariyên zêdetir, ji kerema xwe bi me re têkilî daynin
                      info@azadi.solutions
			</p>

		</main>
		<Footer />
	</body>
</html>
